<link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>

<div class='header-bg'>
<%= render 'pages/header2'%>
<br> </br>
<br> </br>





<div class="text-center">

<div style="color:white">
<h1 style="font-size:70px">Welcome to the life of a Genius</h1>
<p style="font-size:20px">The blog of Muhammad Hisaan Anjum Qadri</p>
<p>
<%= link_to "Login" , new_user_session_path , class:"btn btn-default btn-lg", style:"background-color:transparent;color:white;" %>
<%= link_to 'Sign Up' ,new_user_registration_path , class:"btn btn-primary btn-lg" %>
</p>
</div>
</div>
</div>

<div class="container">
<div class="container">

<div class="container">

<div class="container">

<br> </br>
<div class="panel panel-default">
<div class= "panel-body">
<div style="float:left">

<%= image_tag("science.png" , size:"450") %>
</div>
<div style="float:right">

<h58 style="font-size:25px">A true lover of Science , Math and especially the art of computers.</h58>
<br> </br>
<h58 style="font-size:25px">My passion in science is becuase of my curiousity in how the </h58>
<br> </br>
<h58 style="font-size:25px">universe works. Plus science fiction has made me interested in </h58>
<br> </br>
<h58 style="font-size:25px">theoretical physics (well some of it which I can understand). </h58>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
 <div class="jumbotron jumbotron-ssg" >

<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>



</div>



<div class="container">
<div class="container">

<div class="container">

<div class="container">

<br> </br>
<div class="panel panel-default">
<div class= "panel-body">
<div style="float:left">

<%= image_tag("comp.gif" ) %>
</div>
<div style="float:right">

<h58 style="font-size:23px">Ok now what about my enthusiasm in computers. It all started after</h58>
<br> </br>
<h58 style="font-size:23px">17th August 2014. Guess what happened that day? Yup I became an MCP.</h58>
<br> </br>
<h58 style="font-size:23px">Youre probably thinking WHAT !!!!!! a 14 year old MCP. Yes that is </h58>
<br> </br>
<h58 style="font-size:23px">when i started to develop an interest in computers. Learned some </h58>
<br> </br>
<h58 style="font-size:23px">programming. At first I learned C# and XNA, but after that i started</h58>
<br> <br>
<h58 style="font-size:23px">web development with RoR (Ruby on Rails). Overall I have a pretty </h58>
<br> <br>
<h58 style="font-size:23px">adventurous life.</h58>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

 <div class="jumbotron jumbotron-comp" >

<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>



</div>